@font-face {
    font-family: "soul";
    src: url(/assets/font/bohemian_soul/BohemianSoul.otf);
}


hr {
    height: 2px;
    color: rgb(82, 209, 209);
    background-color: rgb(82, 209, 209);
    width: auto;
    border: none;
    margin-left: 100px;
    margin-right: 100px;
}

#borderRidge {
    border-bottom: 1px solid #dee2e6;
}


@media screen and (min-width:308px) {
    #profilMel {
        border-radius: 100%;
        right: 50%;
        left: 50%;
        top: 0rem;
        height: 400px;
        width: 300px;
        transform: translate(-8%, -8%);
        border-radius: 41% 23% 39% 20% / 55% 30% 35% 16%;
    }
}

li {
    list-style: none;
    margin: 20px;
    text-align: left;
    color: black;
}

li p {
    font-size: small;

}

.nav-item .a {
    display: flex;
    justify-content: space-around;
}

.nav p {
    color: white;
    font-size: medium;
}

i {
    color: #E56B6F;
}

.nav-pills .nav-link.active,
.nav-pills .show .nav-link {
    background-color: #1bafaf;
    color: black;
}

.nav-link:hover {
    background-color: #1bafaf;
    color: white;
}

.nav-link {
    color: black;
}

/* Barre de navigation top */
.nav-item a.btn:hover {
    background-color: #242020;
    color: black
}

a.btn:hover {

    background-color: #1bafaf;
    border-radius: 5px;
}

a.btn {

    background-color: #E56B6F;
    border-radius: 5px;
}

/* .navbar.fixed-top{
    background-color:;
} */

a {
    color: white;
    text-decoration: none;
}

/* a#contact {
    background-color: #E56B6F;
} */

a#contact:hover {
    background-color: #1bafaf;
}

a:hover {
    color: white;
}

.nav-item {
    margin: 0px;

}

p {
    font-size: x-large;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}




h1,
h2,
h3 {
    text-align: center;
    margin-top: 75px;
    font: italic;
    color: black;
    font-family: 'soul', Courier, monospace;
}

#portfolio .card {
    width: 80%;

}

.card {
    margin: 0 auto;
    float: none;
    border-radius: 15px;

}

/* Hover des cards début */

.carousel-item img {
    border-radius: 15px;
}


h3,
h5 {
    color: black;
}

.card-img-overlay:hover {
    box-shadow: #ffffff;
    background-color: #2363a859;
}

.card.a.btn:hover {
    background-color: #1bafaf;
}

/* Hover des cards fin */


footer {
    text-align: center;
    padding-top: 10px;
    background-color: #B56576;
    overflow-x: hidden;
}

body {
    background-image: url(/img/draws/fondCV.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#borderTopRightLeft {
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;


}

#borderTopLeft {
    border-top: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;

}

#borderTopRight {
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}