
/* hr class pour les lignes */


li {
    list-style: none;
    margin: 20px;
    padding-right: 150px;
    text-align: left;
    color: black;
}




.nav-item {
    margin: 0px;
}

p {
    color: black;
    text-align: center;
}

form {
    border: 1px black solid;
    border-radius: 10px;
    background-color: #f28482;
    padding: 5px 10px;
    width: 100%;
    margin: 10px;
}

h1,
h2 {
    text-align: center;
    margin-top: 200px;
    font: italic;

}

.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}


footer {
    background-color: #f28482;
    height: 100px;
}

#maincontenair {
    overflow-x: hidden;
}

#Vente {
    color: black;
}

#Dev {
    color: black;

}

#STMG {
    color: black;

}

#SIO {
    color: black;

}